/***********************************************************************************CHANGES AT 1438px*/
@media(max-width:1254px) {

    /**************************** HEALTH PAGE*/

    .linkbox-slim {
        padding-top: 25px;
    }
}

/***********************************************************************************CHANGES AT 1385px*/
@media(max-width:1385px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        height: 42vh;
    }

    .linkbox-green {
        padding-top: 30px;
    }

    .linkbox-slim {
        padding-top: 30px;
    }

    .health {
        height: 30vh;
    }

    /*.health-links {
        height: 90vh;
    }*/

    /**************************** DONATION_PAGE*/

    .support_subpage {
        padding-top: 25px;
    }

    /**************************** VOLUNTEER_PAGE*/

    .seafarers_flag {
        padding-right: 25px;
        height: 300px;
        padding-top: 25px;
    }

    .container-fluid.volunteer {
        padding-left: 140px;
        padding-right: 140px;
    }

}

/***********************************************************************************CHANGES AT 1292px*/
@media(max-width:1292px) {

    /**************************** HEALTH PAGE*/

    .linkbox-green {
        padding-top: 20px;
    }
}

/***********************************************************************************CHANGES AT 1254px*/

@media(max-width:1254px) {

    /**************************** NAVBAR AND FOOTER*/

    .navbar-nav > li > a {
        font-size: 1em;
    }

    .navbar-right {
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn.btn-default.header {
        font-size: 0.9em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .btn.btn-default.footer {
        font-size: 0.9em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .search-bar {
        max-width: 175px;
    }

    .footer-text {
        font-size: 0.9em;
    }

    /**************************** SUPPORT US PAGE*/

    .support-seafarers {
        padding-left: 100px;
        padding-right: 75px;
        padding-top: 115px;
    }

    .support-us {
        height: 80vh;
    }

    /**************************** ABOUT US*/

    .about-us-content {
        padding-right: 0px;
    }

    /**************************** DONATION_IMAGE*/

    .donation_image {
        padding-left: 100px;
        padding-right: 200px;
        padding-top: 80px;
    }

    /**************************** VOLUNTEER PAGE*/

    .container-fluid.volunteer {
        padding-left: 120px;
        padding-right: 120px;
    }

    .volunteer-img {
        padding-top: 70px;
    }

}

/***********************************************************************************CHANGES AT 1237px*/
@media(max-width:1237px) {

    /**************************** HEALTH PAGE*/

    .linkbox-slim {
        padding-top: 35px;
    }

    /**************************** VOLUNTEER_PAGE*/

    .seafarers_flag {
        height: 280px;
    }
}

/***********************************************************************************CHANGES AT 1225px*/
@media(max-width:1225px) {

    /**************************** HEALTH PAGE*/

    .linkbox {
        height: 42vh;
    }

}

/***********************************************************************************CHANGES AT 1182x*/

@media(max-width:1182px) {

    /**************************** NAVBAR AND FOOTER*/

    .navbar-nav > li > a {
        font-size: 0.95em;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn.btn-default.header {
        font-size: 0.8em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .btn.btn-default.footer {
        font-size: 0.8em;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .search-bar {
        max-width: 165px;
        max-height: 26px;
    }

    .form-group {
        padding-right: 0px;
    }

    .nav.navbar-nav.navbar-right {
        padding-top: 3px;
    }

    .footer-text {
        font-size: 0.8em;
        padding-left: 10px;
        padding-right: 10px;
    }


    .btn.btn-default.header {
        margin-right: 10px;
    }

    /**************************** INDEX PAGE*/

    .directions_text {
        padding-right: 0px;
        padding-left: 100px;
    }

    img.minimal-map-freo {
        max-height: 340px;
    }

    .herobg {
        padding-left: 120px;
    }

    .seafarers-rights-img {
        padding-left: 50px;
    }

    .rights_content {
        padding-right: 50px;
        padding-left: 50px;
    }

    .support-us-section {
        padding-top: 25px;
    }

    .donation_text {
        padding-left: 100px;
        padding-right: 50px;
    }

    .volunteer_text {
        padding-left: 80px;
        padding-right: 50px;
    }

    /**************************** ABOUT US*/

    .about-us-content {
        padding-left: 100px;
    }

    .jesus_seafarer {
        text-align: center;
        padding-top: 90px;
        height: 500px;
        padding-right: 100px;
        padding-left: 75px;
    }

    /**************************** DONATION_IMAGE*/

    .donation_image {
        padding-left: 0px;
        padding-right: 0px;
    }

    .wooly_hats {
        height: 250px;
        padding-left: 50px;
        padding-right: 90px;
    }

    .donation_content {
        padding-left: 90px;
    }

    /**************************** VOLUNTEER PAGE*/

    .container-fluid.volunteer {
        padding-left: 100px;
        padding-right: 100px;
    }

    .volunteer-img {
        padding-top: 70px;
    }

    .seafarers_flag {
        height: 250px;
        padding-right: 50px;

    }

    .volunteer-title {
        margin-right: -100px;
    }

}

/***********************************************************************************CHANGES AT 1172px*/
@media(max-width:1172px) {

    /**************************** HEALTH PAGE*/

    .health {
        height: 32vh;
    }

    /**************************** DONATION_IMAGE*/

    .support_subpage {
        padding-left: 260px;
        padding-right: 260px;
    }

    /**************************** INDEX PAGE*/

    .herobg {
        height: 50vh;
        padding-top: 100px;
    }

}

/***********************************************************************************CHANGES AT 991x*/



@media(max-width:991px) {

    .directions-attractions {
    padding-left: 50px;
    padding-right: 50px;
        margin-left: 0%;
    }



    .minimal-map-freo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        padding: 0px;
    }

    .directions-info-text {
        padding-left: 0em;

    }

    .directions-title-2 {
        text-align: center;
    }

    .btn-tour {
        margin-left: 30%;
        margin-right: 30%;
    }

    /***********CHANGES OF RELIGIOUS RESOURCES*/
    .religious-top {
        text-align: center;
    }

    .prayer-mary-title {
        padding-top: 4%;
    }

    /**************************** ABOUT US*/

    .about-us-content {
        padding-left: 100px;
    }

    .jesus_seafarer {
        text-align: center;
        padding-top: 150px;
        height: 450px;
        padding-right: 100px;
        padding-left: 75px;
    }

    /**************************** VOLUNTEER_PAGE*/
    .volunteer-img {
        padding: 0px;
        text-align: center;
        padding-top: 50px;
    }

    .seafarers_flag {
        height: 300px;
        padding: 0px;
    }

    .container-fluid.volunteer {
        padding-bottom: 50px;
        padding-top: 25px;
        padding-left: 100px;
        padding-right: 100px;
    }

    /***********CHANGES OF RELIGIOUS RESOURCES*/
    .religious-top {
        text-align: center;
    }

    /**************************** HEALTH PAGE*/
    .health-linkbox {
        width: 100%;
    }

    .linkbox-green {
        width: 100%
    }

    .linkbox-darkgreen {
        width: 100%
    }

    .health-links {
        height: 132vh;
    }

    /**************************** CONTACT PAGE*/

    .contact-left-text {
        padding-left: 0%;
        text-align: center;
    }

    .contact-content {
        padding: 40px 100px 40px 110px;
    }

    .contact-row {
        padding-top: 20px;
    }

    .contact-right-text {
        text-align: center;
    }
<<<<<<< HEAD
    
    /**************************** DIRECTIONS PAGE*/
    
    .ourservices-btn {
        text-align: center;
        padding-top: 0px;
    }
    
    .directions-attractions {
        padding-left: 15%;
        padding-right: 15%;
    }
    
=======

>>>>>>> 335e31ba139c05bdc69227ac0e25a0f426ee784b
}

/***********************************************************************************CHANGES AT 976x*/

@media(max-width:977px) {

    /**************************** NAVBAR AND FOOTER*/

    .navbar-nav > li > a {
        font-size: 0.9em;
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn.btn-default.header {
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn.btn-default.footer {
        padding-left: 8px;
        padding-right: 8px;
    }

    .search-bar {
        max-width: 140px;
    }

    .footer-text {
        font-size: 0.75em;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    /**************************** INDEX PAGE*/

    .herobg {
        max-height: 50vh;
        padding-top: 75px;
    }

    h1 {
        font-size: 2.5em;
    }

    .directions_text {
        padding-top: 30px;
    }

    h3 {
        font-size: 2em;
    }

    .directions_text {
        padding-right: 25px;
    }

    img.minimal-map-freo {
        max-height: 300px;
    }

    .col-sm-5.map {
        padding-right: 100px;
    }

    img.donation-white {
        max-height: 120px;
    }

    img.volunteer-white {
        max-height: 120px;
    }

    .support-us {
        height: 75vh;
    }

    /**************************** SUPPORT US PAGE*/

    .col-sm-6.supportus-img {
        height: 25vh;
    }

    .support-seafarers {
        padding-top: 65px;
        padding-left: 50px;
        padding-right: 50px;

    }

    .biography {
        padding-left: 100px;
        padding-right: 100px;
    }

}

/***********************************************************************************CHANGES AT 974px*/
@media(max-width:974px) {

    /**************************** HEALTH PAGE*/

    .health-links {
        height: 132vh;
    }

    /*.linkbox-slim {
        background-color: #5da554;
    }

    .linkbox-darkgreen {
        background-color: #87c543;
    }*/

    .health-linkbox {
        height: 40vh;
        width: 100%;
    }

    .linkbox-darkgreen {
        width: 100%;
    }

    .linkbox-green {
        width: 100%;
    }

    .health-header {
        padding-top: 30px;
    }

    .health {
        height: 30vh;
    }

    /**************************** CONTACT-US PAGE*/

    .contact-left-text {
        padding-left: 0%;
        text-align: center;
    }

    .contact-content {
        padding: 40px 100px 40px 110px;
    }

    .contact-row {
        padding-top: 20px;
    }

    .contact-right-text {
        text-align: center;
    }

    /**************************** DONATION_PAGE*/

    .wooly_hats {
        height: 200px;
    }

    .donation_image {
        padding-top: 120px;
    }

    .support_subpage {
        padding-left: 210px;
        padding-right: 210px;
    }

    .container-fluid.support-us.subpage {
        height: 70vh;
    }

    /**************************** NAVBAR*/

    .navbar-nav > li > a {
        font-size: 0.9em;
    }

}

/***********************************************************************************CHANGES AT 958x*/

@media(max-width:958px) {

    /**************************** HEALTH*/

    .health-linkbox {
        width: 100%;
    }

    .linkbox-darkgreen {
        width: 100%;
    }

    .linkbox-green {
        width: 100%;
    }

    /**************************** CONTACT PAGE*/

    .contact {
        padding-top: 40px;
        padding-bottom: 10px;
    }
}

/***********************************************************************************CHANGES AT 922x*/

@media(max-width:922px) {

    /**************************** NAVBAR*/

    .navbar-nav > li > a {
        font-size: 0.9em;
    }

    /**************************** CONTACT PAGE*/

    .contact-content {
        padding-top: 0px;
        padding-bottom: 40px;
    }
}

/***********************************************************************************CHANGES AT 899x*/

@media(max-width:899px) {

    /**************************** NAVBAR AND FOOTER*/

    .navbar-nav > li > a {
        font-size: 0.85em;
        padding-left: 6px;
        padding-right: 6px;
    }

    .btn.btn-default.header {
        font-size: 0.7em;
        padding-left: 8px;
        padding-right: 8px;
    }

    .btn.btn-default.footer {
        font-size: 0.7em;
        padding-left: 8px;
        padding-right: 8px;
    }

    .navbar-right {
        padding-left: 0px;
        padding-right: 0px;
    }

    .form-group {
        padding-right: 8px;
    }

    .footer-text {
        font-size: 0.7em;
    }

    /**************************** INDEX PAGE*/

    img.minimal-map-freo {
        max-height: 250px;
    }

    .directions_text {
        padding-top: 20px;
        padding-left: 50px;
        margin-right: -50px;
    }

    .rights_content {
        padding-top: 0px;
    }

    .rights {
        padding-top: 25px;
    }

    /**************************** DONATION_PAGE*/

    .support_subpage {
        padding-left: 200px;
        padding-right: 200px;
    }

}

/***********************************************************************************CHANGES AT 874*/

@media(max-width:874px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        width: 100%;
    }

    .health-links {
        height: 132vh;
    }

    /***********************************************************************************CHANGES AT 841*/

    @media(max-width:841px) {

        /**************************** NAVBAR AND FOOTER*/

        .footer-text {
            font-size: 0.6em;
            padding-left: 6px;
            padding-right: 6px;
        }

        .btn.btn-default.header {
            margin-right: 0px;
        }


        /**************************** INDEX PAGE*/

        img.seafarers-rights {
            height: 175px;
        }

        .seafarers-rights-img {
            padding-left: 90px;
            padding-top: 15px;
        }

        /**************************** SUPPORT US PAGE*/

        img.supportus-img {
            height: 200px;
        }

        /**************************** DONATION_PAGE*/

        .support_subpage {
            padding-left: 100px;
            padding-right: 100px;
        }

        .wooly_hats {
            padding-right: 70px;
        }

        /**************************** SERVICES PAGE*/
        .sim-text {
            font-size: 0.9em;
            padding-bottom: 5%;
        }
    }

    /***********************************************************************************CHANGES AT 769px*/
    @media(max-width:769px) {

        /**************************** HEALTH PAGE*/

        .linkbox-slim {
            padding-top: 30px;
        }
    }

    /***********************************************************************************CHANGES AT 767*/

    @media(max-width:767px) {

        /**************************** NAVBAR AND FOOTER*/

        .container-fluid.navbar {
            padding-right: 50px;
            padding-left: 50px;
        }

        .navbar-toggle {
            border-color: #ffffff;
        }

        .navbar-nav > li > a {
            font-size: 0.85em;
        }

        .navbar-right {
            padding-left: 8px;
            padding-right: 8px;
        }

        .btn.btn-default.header {
            font-size: 0.9em;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .form-group {
            padding-bottom: 10px;
            padding-top: 10px;
        }
        
                .footer-text.left {
            display: none;
        }
        
        .footer-text {
            font-size: 0.9em;
        }
        
        
        .btn.btn-default.footer {
        display: none;
        }
        
        
        footer-text {
            display: block;
        }
        
        /**************************** ABOUT US*/

        .container-fluid.about-us {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .about-us-content {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 25px;
        }

        .jesus_seafarer {
            text-align: center;
            padding-top: 0px;
            height: 500px;
            padding-right: 0px;
            padding-left: 0px;
            padding-bottom: 50px;
        }

        /**************************** INDEX PAGE*/

        .herobg {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .container-fluid.directions {
            text-align: center;
        }

        .col-sm-5.map {
            float: none;
            padding-left: 50px;
            padding-right: 50px;
        }

        .col-sm-7.directions_bodycopy {
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 30px;
        }

        .directions_text {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 5px;
            margin: 0px;
        }

        .rights {
            padding-bottom: 20px;
        }

        .support-us-header {
            padding-left: 50px;
            padding-right: 50px;
        }

        .donation_text {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .volunteer_text {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .support-us {
            height: 110vh;
        }

        .seafarers-rights-img {
            padding-left: 0px;
            padding-right: 0px;
        }

        .rights_content {
            text-align: center;
        }

        /**************************** SUPPORT US PAGE*/

        .support-seafarers {
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .biography {
            text-align: center;
            padding-left: 50px;
            padding-right: 50px;
        }

        .col-sm-6.supportus-img {
            height: 200px;
        }

        /**************************** DIRECTIONS PAGE*/

        .directions-info span {
            display: none;
            text-align: center;
        }

        .directions-left {
            text-align: center;
        }

        /***********CHANGES OF RELIGIOUS RESOURCES*/

        .prayer-mary-title {
            padding-bottom: 2%;
        }

        /**************************** DONATION_PAGE*/

        .container-fluid.donate {
            text-align: center;
        }

        .donation_content {
            padding-left: 50px;
            padding-right: 50px;
        }

        .wooly_hats {
            height: 200px;
            padding-left: 0px;
            padding-right: 0px;
        }

        .donation_image {
            padding-top: 25px;
        }

        .donation_content {
            padding-top: 50px;
            padding-bottom: 0px;
        }

        /**************************** RELIGIOUS PAGE*/

        .prayer-mary-2 {
            text-align: center;
            padding-top: 0%;
        }

        .prayer-mary-title {
            padding-bottom: 2%;
            padding-top: 3%;
        }

        /**************************** SERVICES PAGE*/
        .sim-text {
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 5%;
        }

        .our-services-section {
            height: 0%;
        }

        .services-left {
            float: none;
        }

        .services-right {
            float: none;
        }

        .our-services-section-dark {
            height: 0%;
        }


    .directions-left {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }
    
       .contact-content-directions{
        padding-top:0%;
    }

        .our-services {
            height: 0%;
        }


        .free-clothing {
            padding-bottom: 5%;
            margin-left: 4%;
            margin-right: 4%;
        }
        
        .footer-text.copyright {
    text-align: center;
    padding-left: 0px;
}

    }

    /***********************************************************************************CHANGES AT 750px*/
    @media(max-width:750px) {

        /**************************** CONTACT-US PAGE*/

        .feedback {
            height: 80vh;
            padding-top: 40px;
        }

        .contact-content {
            padding: 10px 50px 40px 60px;
        }

        .contact {
            padding-top: 30px;
        }
    }

    /***********************************************************************************CHANGES AT 748px*/
    @media(max-width:748px) {

        /**************************** HEALTH PAGE*/

        .health {
            height: 32vh;
        }
    }

    /***********************************************************************************CHANGES AT 742px*/
    @media(max-width:742px) {

        /**************************** HEALTH PAGE*/

        .health-linkbox {
            height: 42vh;
        }

        .linkbox-green {
            padding-top: 30px;
        }

        .linkbox-slim {
            padding-top: 35px;
        }

        .health-links {
            height: 132vh;
        }
    }

    /***********************************************************************************CHANGES AT 738*/

    @media(max-width:738px) {

        /**************************** NAVBAR AND FOOTER*/


        /**************************** VOLUNTEER PAGE*/
        .volunteer-title {
            margin: 0px;
        }
    }

    /***********************************************************************************CHANGES AT 700px*/
    @media(max-width:700px) {

        /**************************** CONTACT-US PAGE*/

        .feedback-input {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    /***********************************************************************************CHANGES AT 696px*/
    @media(max-width:696px) {

        /**************************** HEALTH PAGE*/

        .linkbox-green {
            padding-top: 20px;
        }

        /**************************** VOLUNTEER PAGE*/
        .seafarers_flag {
            height: 250px;
        }

        .container-fluid.volunteer {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    /***********************************************************************************CHANGES AT 660px*/
    @media(max-width:660px) {

        /**************************** CONTACT-US PAGE*/

        .feedback {
            padding-left: 70px;
            padding-right: 70px;
        }

        .mySlides {
            height: 0%;
        }
    }

    /***********************************************************************************CHANGES AT 621px*/
    @media(max-width:621px) {

        /**************************** HEALTH PAGE*/

        .health {
            height: 34vh;
        }
    }

    /***********************************************************************************CHANGES AT 575*/

    @media(max-width:575px) {

        /**************************** INDEX PAGE*/

        h1 {
            font-size: 2em;
        }

        h2 {
            font-size: 1.5em;
        }

        h3 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.9em;
        }

        img.donation-white {
            max-height: 100px;
        }

        img.volunteer-white {
            max-height: 100px;
        }

        .btm {
            font-size: 0.9em;
        }

        .support-us {
            height: 110vh;
        }

        /**************************** ABOUT US*/
        .about-us-content {
            padding-top: 25px;
        }

        .jesus_seafarer {
            height: 450px;
        }

        /**************************** DONATION PAGE*/
        .donation_content {
            padding-top: 25px;
        }

        /**************************** VOLUNTEER PAGE*/
        .seafarers_flag {
            height: 200px;
        }

        /**************************** RELIGIOUS PAGE*/

        .go-to {
            padding-bottom: 3em;
            font-size: 0.8em;
        }

    }

    /***********************************************************************************CHANGES AT 558px*/
    @media(max-width:558px) {

        /**************************** HEALTH PAGE*/

        .health-header {
            padding-top: 20px;
        }

        .health {
            height: 30vh;
        }

        /**************************** DONATION_PAGE*/

        .support_subpage {
            padding-left: 0px;
            padding-right: 0px;
        }
    }


    /***********************************************************************************CHANGES AT 498px*/
    @media(max-width:498px) {

        /**************************** HEALTH PAGE*/

<<<<<<< HEAD
    .go-to {
        padding-bottom: 3em;
        font-size: 0.8em;
    }
    
    /**************************** DIRECTIONS PAGE*/
    
    .prayer-body {
    padding-left: 50px;
    padding-right: 50px;
        }
        
        .linkbox-slim {
            padding-top: 30px;
        }


        /**************************** CONTACT-US PAGE*/

        .feedback {
            height: 80vh;
            padding-left: 50px;
            padding-right: 50px;
        }

        .contact-content {
            padding-bottom: 30px;
        }

        .feedback {
            padding-top: 20px;
        }
}

/***********************************************************************************CHANGES AT 496px*/
@media(max-width:496px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        height: 44vh;
        padding: 30px 20px 20px 20px;
    }

    .linkbox-green {
        padding-top: 30px;
    }

    .health-links {
        height: 138vh;
    }
}

/***********************************************************************************CHANGES AT 475*/

@media(max-width:475px) {

    /**************************** NAVBAR AND FOOTER*/

    .footer-text {
        font-size: 0.7em;
    }

    .footer-logo-center {
        max-height: 50px;
    }

    /**************************** INDEX PAGE*/

    img.minimal-map-freo {
        max-height: 150px;
    }

    .biography {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /**************************** HEALTH PAGE*/

    .linkbox-slim {
        padding-top: 25px;
    }

    .health-linkbox {
        padding: 20px;
    }

    /**************************** DONATION PAGE*/
    .wooly_hats {
        height: 150px;
    }

    /**************************** RELIGIOUS PAGE*/
}

.our-lady-2 {
    font-size: 0.9em;
}

.our-lady {
    padding: 1.3em;
}

<<<<<<< HEAD
    /**************************** DIRECTIONS PAGE*/
    
    .directions-attractions {
        padding-left: 50px;
        padding-right: 50px;
    }

    .directions-info-text {
    padding-bottom: 0px;
}

}
=======
>>>>>>> 335e31ba139c05bdc69227ac0e25a0f426ee784b

/***********************************************************************************CHANGES AT 472px*/
@media(max-width:472px) {

    /**************************** HEALTH PAGE*/

    .linkbox-green {
        padding-top: 20px;
    }
}

/***********************************************************************************CHANGES AT 465px*/
@media(max-width:465px) {

    /**************************** HEALTH PAGE*/

    .health {
        height: 32vh;
    }
}

/***********************************************************************************CHANGES AT 455px*/
@media(max-width:455px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        height: 47vh;
    }

    .linkbox-slim {
        padding-top: 35px;
    }

    .linkbox-darkgreen {
        padding-top: 30px;
    }

    .health-links {
        height: 147vh;
    }

    /**************************** VOLUNTEER PAGE*/
    .container-fluid.volunteer {
        text-align: center;
    }

    .volunteer-title {
        margin: 0px;
    }

    .seafarers_flag {
        height: 150px;
    }
}

/***********************************************************************************CHANGES AT 438px*/
@media(max-width:438px) {

    /**************************** CONTACT-US PAGE*/

    .feedback {
        padding-top: 30px;
    }

    feedback-input {
        padding-left: 0px;
        padding-right: 0px;
    }

    contact-content {
        padding: 20px 80px 20px 80px;
    }

    contact-left-text {
        padding-right: 0px;
    }
}

/***********************************************************************************CHANGES AT 422px*/
@media(max-width:422px) {

    /**************************** HEALTH PAGE*/

    .linkbox-slim {
        padding-top: 25px;
    }
}

/***********************************************************************************CHANGES AT 405px*/
@media(max-width:405px) {

    /**************************** HEALTH PAGE*/

    .linkbox-slim {
        padding-top: 35px;
    }

    .linkbox-darkgreen {
        padding-top: 30px;
    }

    .health-linkbox {
        height: 48vh;
    }

    .health-links {
        height: 150vh;
    }

    /**************************** ABOUT US*/

    .jesus_seafarer {
        height: 350px;
    }
}

/***********************************************************************************CHANGES AT 390*/

@media(max-width:390px) {

    /**************************** NAVBAR AND FOOTER*/

    .footer-text {
        font-size: 0.5em;
    }

    .footer-logo-center {
        max-height: 30px;
    }

    .facebook-logo-footer {
        max-height: 20px;
    }

    /**************************** INDEX PAGE*/

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    img.donation-white {
        max-height: 75px;
    }

    img.volunteer-white {
        max-height: 75px;
    }

    .btn {
        font-size: 0.8em;
    }

    .support-us {
        height: 100vh;
    }

    .biography {
        padding-top: 0px;
        padding-bottom: 15px;
    }

    /**************************** ABOUT US*/

    .jesus_seafarer {
        height: 250px;
    }

    .rights-link {
        font-size: 1em;
    }

    /**************************** RELIGIOUS PAGE*/

    .jesus_seafarer_2 {
        height: 15em;
    }
    
    .prayer-mary-title {
    padding-top: 5%;
    }

    /**************************** DIRECTIONS PAGE*/

    .directions-tourist {
        padding-bottom: 6%;
    }

    /**************************** HEALTH PAGE*/

    .health {
        height: 30vh;
    }

    .health-linkbox {
        height: 44vh;
    }

    .health-links {
        height: 139vh;
    }

    .linkbox-darkgreen {
        padding-top: 20px;
    }

    /**************************** CONTACT PAGE*/

    .contact {
        padding-top: 10px;
        padding-bottom: 0px;
    }

    .feedback {
        padding-top: 20px;
    }

    .contact-content {
        padding-top: 0px;
        padding-left: 50px;
    }

    .contact-row {
        padding-top: 10px;
    }

    .contact-left-text {
        padding-right: 0px;
    }

}

/***********************************************************************************CHANGES AT 387px*/
@media(max-width:387px) {

    /**************************** HEALTH PAGE*/

    .health {
        height: 30vh;
    }
}

/***********************************************************************************CHANGES AT 384px*/
@media(max-width:384px) {

    /**************************** CONTACT PAGE*/

    .feedback {
        height: 78vh;
    }
}

/***********************************************************************************CHANGES AT 378px*/
@media(max-width:378px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        height: 44vh;
    }

    .linkbox-slim {
        padding-top: 20px;
    }

    .linkbox-green {
        padding-top: 20px;
    }

    .health-links {
        height: 138vh;
    }
}

/***********************************************************************************CHANGES AT 373px*/
@media(max-width:373px) {

    /**************************** HEALTH PAGE*/

    .health {
        height: 30vh;
    }

    .health-text {
        padding-top: 10px;
    }

    .health-links-text p {
        padding-right: 0px;
        padding-left: 0px;
    }

    .health-img-responsive {
        width: 50%;
    }

    .health-linkbox {
        height: 40vh;
    }

    .health-links {
        height: 126vh;
    }

    .linkbox-darkgreen {
        padding-top: 20px;
    }

    .linkbox-green {
        padding-top: 25px;
    }

    .linkbox-slim {
        padding-top: 25px;
    }

    /**************************** CONTACT-US PAGE*/

    .feedback {
        height: 78vh;
    }

    /**************************** VOLUNTEER PAGE*/

    .seafarers_flag {
        height: 100px;
    }

    /**************************** RIGHTS PAGE*/
}

/***********************************************************************************CHANGES AT 371px*/
@media(max-width:371px) {

    /**************************** HEALTH PAGE*/

    .linkbox-green {
        padding-top: 40px;
    }

    .health-linkbox {
        height: 42vh;
    }

    .linkbox-darkgreen {
        padding-top: 20px;
    }

    .health-links {
        height: 133vh;
    }

    .linkbox-slim {
        padding-top: 40px;
    }

    /**************************** RELIGIOUS PAGE*/
    .go-to {
        padding-bottom: 2.5em;
        font-size: 0.7em;
    }

    /**************************** INDEX PAGE*/

    .support-us-section {
        padding-top: 0px;
    }

}


/***********************************************************************************CHANGES AT 363px*/
@media(max-width:363px) {

    /**************************** HEALTH PAGE*/

    .linkbox-green {
        padding-top: 20px;
    }
}

/***********************************************************************************CHANGES AT 350*/

@media(max-width:350px) {

    /**************************** INDEX PAGE*/

    .jesus_seafarer_2 {
        height: 13em;
    }
}

/***********************************************************************************CHANGES AT 349*/

@media(max-width:349px) {

    /**************************** HEALTH PAGE*/

    .health {
        height: 18em;
    }
}

/***********************************************************************************CHANGES AT 330*/

@media(max-width:330px) {

    /**************************** HEALTH PAGE*/

    .linkbox-green {
        padding-top: 30px;
    }

    .linkbox-slim {
        padding-top: 45px;
    }

}

/***********************************************************************************CHANGES AT 324*/

@media(max-width:324px) {

    /**************************** HEALTH PAGE*/

    .health-linkbox {
        height: 40vh;
    }

    .linkbox-green {
        padding-top: 20px;
    }

    .linkbox-slim {
        padding-top: 30px;
    }

    .health-links {
        height: 127vh;
    }
}
