.row {
    margin: 0px;
    padding: 0px;
}

.col-sm-6 {
    margin: 0px;
    padding: 0px;
}


/*-----------------------------------------------------NAVBAR START-----------------------------------------------------------------*/
.navbar .navbar-brand {
    max-height: 50px;
    padding: 0px;
}

.navbar .navbar-brand > img {
    max-height: 50px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 5px;
}

.navbar {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background-color: #5C72B7;
    border: 0px;
}

.navbar-right {
    margin: 0px;
}

.form-group {
    padding-right: 25px;
}

.container-fluid {
    padding: 0px;
}

.navigation-text {
    font-family: 'Raleway',
        sans-serif;
    font-size: 1em;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-nav > li > a {
    padding-top: 20px;
}

.navbar-form {
    width: auto;
    padding-top: 6px;
}



/*-----------------------------------------------------NAVBAR END-----------------------------------------------------------------*/

.herobg {
    background: url("assets/herobg.png") no-repeat center center;
    background-size: cover;
    height: 75vh;
    color: #ffffff;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 170px;
}

.ourservices_btn {
    padding-top: 20px;
}

h1 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 800;
    margin: 0px;
    font-size: 3em;
}

h2 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0px;
    padding-top: 10px;
}

h3 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    font-size: 2.5em;
}

p {
    font-family: 'Raleway',
        sans-serif;
    font-size: 1em;
}

.btn {
    border: none;
    padding-right: 12px;
    background-color: #FDDD00;
    color: #293279;
    font-family: 'Raleway 800',
        sans-serif;
    font-size: 1em;
    font-weight: 800;
    border-radius: 30pt;
}

.btn.btn-default.footer {
    border: none;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #FDDD00;
    color: #293279;
    font-family: 'Raleway 800',
        sans-serif;
    font-size: 1em;
    font-weight: 800;
    border-radius: 30pt;
}


.directions_text {
    padding-left: 200px;
    padding-right: 75px;
    padding-top: 75px;
}

.col-sm-5.map {
    float: right;
}

.col-sm-7.directions_bodycopy {
    float: left;
}

.support-us {
    width: 100%;
    background: url("assets/ocean_texture.png") no-repeat center center;
    background-size: cover;
    height: 85vh;
}

.support-us-section {
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

.icons {
    padding: 25px;
}

.donation_text {
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 100px;
    text-align: left;
}

.volunteer_text {
    padding-top: 25px;
    padding-left: 120px;
    padding-right: 100px;
    text-align: left;
}

.seafarers-rights-img {
    text-align: center;
    padding-left: 200px;
}

.rights {
    padding-top: 50px;
    padding-bottom: 50px;
}

.rights_content {
    padding-top: 40px;
    padding-right: 100px;
    padding-left: 100px;
}

.map-container-2 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-2 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.directions-title {
    text-align: center;
    padding: 2em;
}

.directions-info {
    color: black;
    background-color: #a3b7f3;
}

.directions-info-text {
    padding-left: 15em;
    padding-bottom: 5em;
    font-size:
}

.footer {
    background-color: #5C72B7;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

ul#horizontal-list li {
    display: inline;
}


.footer-text {
    font-family: 'Raleway',
        sans-serif;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.footer-logo-center {
    max-height: 70px;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 5px;
}

.facebook-logo-footer {
    max-height: 30px;
    padding-left: 10px;
    text-align: center;

}

.footer-btn {
    font-family: 'Raleway',
        sans-serif;
    font-size: 1em;
    padding-left: 10px;
    padding-right: 20px;
}

.our-services {

    width: 100%;
    background: url("assets/ocean_texture.png") no-repeat center center;
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;

}

.our-services-more {

    width: 100%;
    background: url("assets/placeholder.png") no-repeat center center;
    background-size: cover;
    height: 30vh;
    text-align: center;
    color: white;

}

.our-services-more-text {
    padding-top: 5vh;
}

.lightblue {

    background-color: lightskyblue;
}

.darkblue {
    background-color: royalblue;
}

.our-services-title {
    padding-top: 30vh;
    color: white;
}

.wifi-title {
    color: white;
}

.wifi-text {
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 150px;
    text-align: left;
}

.our-services-images {
    padding: 25px;
}

.money-title {
    color: white;
}

.money-text {
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 150px;
    text-align: left;
}

.food-title {
    color: white;
}

.food-text {
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 150px;
    text-align: left;
}

.sim-title {
    color: white;
}

.sim-text {
    padding-top: 25px;
    padding-left: 200px;
    padding-right: 150px;
    text-align: left;
}

.our-services-section {
    width: 100%;
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
}

.our-services-section-dark {
    width: 100%;
    background-color: skyblue no-repeat center center;
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
}

.our-services-info {}

.our-services-bottom {
    padding-bottom: 50vh;
}

.secondary-banner {
    background: url("assets/placeholder.png") no-repeat center center;
    background-size: cover;
    height: 30vh;
    color: #ffffff;
    padding-left: 100px;
    padding-top: 70px;
}

.contact-header {
    color: black;
    text-align: center;
}

.contact-left_text {
    padding-left: 200px;
    padding-right: 100px;
    padding-top: 100px;
    color: black;
    font-weight: 800;
}

.contact-right_text {
    padding-left: 100px;
    padding-right: 200px;
    padding-top: 100px;
    color: black;
}

.contact-section {
    color: black;
    padding-top: 50px;
}

.contact {
    width: 100%;
    background-size: cover;
    height: 60vh;
}

.feedback {
    width: 100%;
    background-color: #a3b7f3;
    background-size: cover;
    height: 75vh;
    padding-left: 100px;
    padding-top: 70px;
    padding-right: 100px;
}

.feedback_content {}

.feedback-text {}

.feedback-input {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px font-family: 'Raleway', sans-serif;
}

.rights-section {
    padding-right: 10%;
    padding-left: 10%;
}

.rights-header {
    padding-top: 4%;
    padding-bottom: 4%;
}


.rights-header {
    color: black;
    text-align: center;
}

.rights-contact {
    color: white;
    background-color: royalblue;
    text-align: center;
    height: 50vh;
    padding-top: 4%;

}

.rights-link {
    color: yellow;
    font-size: 1.5em;
}

.rights-title {
    padding-top: 3%;
}

.rights-intro {
    text-align: center;
    font-size: 1.1em;
    padding: 3%;
}

.image-title {
    background: #3954A5;
    color: #ffffff;
}

.support-seafarers {
    padding-left: 110px;
    padding-right: 100px;
    padding-top: 65px;
}

.biography {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.biography-title {
    padding-bottom: 10px;
}

.volunteer {
    padding-left: 175px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 200px;
}

.volunteer-title {
    padding-bottom: 10px;
}

.volunteer-img {
    text-align: center;
    padding-left: 100px;
    padding-top: 25px;
    padding-right: 100px;
}

.donate {
    padding-left: 200px;
    padding-top: 25px;
    padding-bottom: 70px;
    padding-right: 200px;
}

.donate-title {
    padding-bottom: 10px;
}

.about-us-content {
    padding-left: 200px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 75px;
}

.about-us-title {
    padding-bottom: 10px;
}

.jesus_seafarer {
    padding-top: 75px;
    padding-left: 150px;
}
